#bsm_new_products {
    overflow: hidden;
}
.bsm_new_products {
    position: relative;
    background-color: #FCFBFA;
    padding-top: 50px;
    margin-bottom: -50px !important;
    padding-bottom: 100px;
}
.bsm_new_products .bsm_products_new_prev,
.bsm_new_products .bsm_products_new_next {
    position: absolute;
    z-index: 9;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform:    translate(0, -50%);
    -ms-transform:     translate(0, -50%);
    -o-transform:      translate(0, -50%);
    transform:         translate(0, -50%);
    color: #FFFFFF;
    width: 86px;
    height: 60px;
    line-height: 60px;
    background-color: #C9D35D;
    font-size: 50px;
    cursor: pointer;
}
.bsm_new_products .bsm_products_new_prev {
    left: 0;
    text-align: right;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 30px;
}
.bsm_new_products .bsm_products_new_next {
    right: 0;
    text-align: left;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 30px;
}